body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

/* header */
#header {
    background-color: #6d095f;
}
#header .navbar-nav {
    margin-left: auto;
    text-align: right;
    padding-top: 10px;
}
#header .nav-item {
    margin-left: 40px;
    margin-bottom: 10px;
}
#header .nav-link {
    color: white;
    font-size: 12px;
    padding: 0 0 5px 0;
    display: unset;
}
#header .navbar-brand img {
    width: 115px;
}
#header .active-home {
    border-bottom: 1px solid white;
}
#header .nav-link:hover {
    border-bottom: 1px solid white;
}
#header .banner {
    margin-top: 8%;
    color: white;
}
#header .banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
}
#header .banner img {
    max-height: 500px;
}
#header .banner a {
    padding: 12px;
    width: 150px;
    display: inline-block;
    background-color: #6d095f;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}
#header .banner a:hover {
    color:  blue;
}
#header .banner .express-btn {
    background-color: white;
    color: black;
    margin-right: 5px;
}
#header .col-md-6 {
    text-align: center;
}

/* fin header */

/* section service */
#service {
    margin: 75px 0;
}
#service .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
#service .subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
#service .service-box {
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .4s;
}
#service .service-box img {
    width: 60px;
    margin-top: 65px;
    margin-bottom: 45px;
}
#service .service-box h6 {
    margin-bottom: 40px;
    font-weight: bold;
}
#service .service-box p {
    font-size: 14px;
    color: gray;
}
#service .fa-arrow-right {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}
#service .service-box:hover,
#service .active-servi {
    background-color: #6d095f;
    border-radius: 5px;
    color: white;
    box-shadow: 0 15px 15px 0 rgba(213, 213, 213, 0.5);
}
/* fin section sevice */